*.o
*~
.deps/
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/conman
/conman.spec
/conmand
/etc/conman.init
/etc/conman.logrotate
/etc/conman.service
/etc/conman.sysconfig
/man/*.[1-9]
/stamp-h1
